#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 10   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <20>;
        label = "scroll_v";
    };

    mouse_scroll_h: mouse_scroll_h {
        compatible = "zmk,behavior-sensor-rotate";
        label = "MOUSE_SCROLL_H";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_RIGHT>, <&msc SCRL_LEFT>;

        tap-ms = <20>;
    };

    right_layer: right_layer {
        compatible = "zmk,behavior-tap-dance";
        label = "RIGHT_LAYER";
        #binding-cells = <0>;
        bindings = <&mo 1>, <&mo 3>, <&toggle_my_computer>;

        tapping-term-ms = <400>;
    };

    ctrl_shift_alt_combo: ctrl_shift_alt_combo {
        compatible = "zmk,behavior-tap-dance";
        label = "CTRL_SHIFT_ALT_COMBO";
        #binding-cells = <0>;
        bindings = <&kp LC(LSHFT)>, <&kp LC(LEFT_ALT)>, <&kp LC(LA(LSHFT))>;

        tapping-term-ms = <400>;
    };

    left_layer: left_layer {
        compatible = "zmk,behavior-tap-dance";
        label = "LEFT_LAYER";
        #binding-cells = <0>;
        bindings = <&mo 1>, <&mo 2>, <&toggle_my_computer>;

        tapping-term-ms = <400>;
    };

    shift_ctrl_shift_alt_combo: shift_ctrl_shift_alt_combo {
        compatible = "zmk,behavior-tap-dance";
        label = "SHIFT_CTRL_SHIFT_ALT_COMBO";
        #binding-cells = <0>;
        bindings = <&kp RIGHT_SHIFT>, <&kp LC(LEFT_ALT)>, <&kp LC(LA(LSHFT))>;

        tapping-term-ms = <400>;
    };

    excel_date_tap: excel_date_tap {
        compatible = "zmk,behavior-tap-dance";
        label = "EXCEL_DATE_TAP";
        #binding-cells = <0>;
        bindings = <&excel_date>, <&excel_year>, <&excel_month>, <&excel_day>;

        tapping-term-ms = <400>;
    };

    excel_sum_tap: excel_sum_tap {
        compatible = "zmk,behavior-tap-dance";
        label = "EXCEL_SUM_TAP";
        #binding-cells = <0>;
        bindings = <&excel_sumifs>, <&excel_sumproduct>;

        tapping-term-ms = <400>;
    };

    behaviors {
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    macros {
        toggle_my_computer: toggle_my_computer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp RCTRL &kp RCTRL>,
                <&macro_wait_time 300>,
                <&out OUT_TOG>;

            label = "TOGGLE_MY_COMPUTER";
        };

        my_string: pi_value {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&kp Z &kp S &kp D &kp C &kp X &kp DOT &kp N1 &kp N2 &kp N1>,
                <&macro_wait_time 50>,
                <&kp ENTER>;

            label = "PI_VALUE";
        };

        switch_bt1: switch_bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &out OUT_BLE>;
            label = "SWITCH_BT1";
        };

        switch_bt2: switch_bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &out OUT_BLE>;
            label = "SWITCH_BT2";
        };

        switch_bt3: switch_bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &out OUT_BLE>;
            label = "SWITCH_BT3";
        };

        excel_offset: excel_offset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp F &kp F &kp S &kp E &kp T &kp LPAR>;
            label = "EXCEL_OFFSET";
        };

        excel_sumifs: excel_sumifs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp U &kp M &kp I &kp F &kp S &kp LPAR>;
            label = "EXCEL_SUMIFS";
        };

        excel_countifs: excel_countifs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp C &kp O &kp U &kp N &kp T &kp I &kp F &kp S &kp LPAR>;
            label = "EXCEL_COUNTIFS";
        };

        excel_xmatch: excel_xmatch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp M &kp A &kp T &kp C &kp H &kp LPAR>;
            label = "EXCEL_XMATCH";
        };

        excel_vlookup: excel_vlookup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp V &kp L &kp O &kp O &kp K &kp U &kp P &kp LPAR>;
            label = "EXCEL_VLOOKUP";
        };

        excel_xlookup: excel_xlookup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp X &kp L &kp O &kp O &kp K &kp U &kp P &kp LPAR>;
            label = "EXCEL_XLOOKUP";
        };

        excel_text: excel_text {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp X &kp T &kp LPAR>;
            label = "EXCEL_TEXT";
        };

        excel_textjoin: excel_textjoin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp T &kp E &kp X &kp T &kp J &kp O &kp I &kp N &kp LPAR>;
            label = "EXCEL_TEXTJOIN";
        };

        excel_date: excel_date {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp A &kp T &kp E &kp LPAR>;
            label = "EXCEL_DATE";
        };

        excel_year: excel_year {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp Y &kp E &kp A &kp R &kp LPAR>;
            label = "EXCEL_YEAR";
        };

        excel_month: excel_month {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp O &kp N &kp T &kp H &kp LPAR>;
            label = "EXCEL_MONTH";
        };

        excel_day: excel_day {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp A &kp Y &kp LPAR>;
            label = "EXCEL_DAY";
        };

        excel_sumproduct: excel_sumproduct {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp S &kp U &kp M &kp P &kp R &kp O &kp D &kp U &kp C &kp T &kp LPAR>;
            label = "EXCEL_SUMPRODUCT";
        };

        excel_average: excel_average {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp A &kp V &kp E &kp R &kp A &kp G &kp E &kp LPAR>;
            label = "EXCEL_AVERAGE";
        };

        excel_index: excel_index {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp I &kp N &kp D &kp E &kp X &kp LPAR>;
            label = "EXCEL_INDEX";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp ESC                &kp N1     &kp N2        &kp N3        &kp N4       &kp N5         &kp UP_ARROW     &kp N6       &kp N7     &kp N8        &kp N9                       &kp N0      &kp BACKSPACE
&kp TAB                &kp Q      &kp W         &kp E         &kp R        &kp T          &kp DOWN_ARROW   &kp Y        &kp U      &kp I         &kp O                        &kp P       &kp BSLH
&ctrl_shift_alt_combo  &kp A      &kp S         &kp D         &kp F        &kp G          &kp LEFT_ARROW   &kp H        &kp J      &kp K         &kp L                        &kp SEMI    &kp APOS
&kp LSHFT              &kp Z      &kp X         &kp C         &kp V        &kp B          &kp RIGHT_ARROW  &kp N        &kp M      &kp COMMA     &kp DOT                      &kp FSLH    &kp RCTRL
&my_string             &kp LCTRL  &kp LEFT_GUI  &kp LEFT_ALT  &left_layer  &lt 4 SPACE    &kp ENTER        &lt 4 SPACE  &kp ENTER  &right_layer  &shift_ctrl_shift_alt_combo  &kp DELETE
            >;

            sensor-bindings = <&inc_dec_kp K_SCROLL_DOWN K_SCROLL_UP>;
            display-name = "BASE";
        };

        ADVANCE {
            bindings = <
&kp GRAVE     &kp F1        &kp F2       &kp F3         &kp F4         &kp F5           &switch_bt1   &kp F6          &kp F7         &kp F8            &kp F9             &kp F10  &trans
&trans        &kp LS(F1)    &kp LS(F2)   &kp LS(F3)     &none          &kp LA(F4)       &switch_bt2   &none           &kp LA(EQUAL)  &none             &kp LS(F9)         &kp F11  &kp F12
&trans        &kp HOME      &kp END      &kp PG_UP      &kp PG_DN      &kp CAPS         &switch_bt3   &kp MINUS       &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none    &kp RIGHT_SHIFT
&trans        &kp LC(HOME)  &kp LC(END)  &kp LC(PG_UP)  &kp LC(PG_DN)  &kp LC(GRAVE)    &bt BT_NXT    &kp UNDERSCORE  &kp PLUS       &kp LEFT_BRACE    &kp RIGHT_BRACE    &none    &trans
&out OUT_TOG  &trans        &trans       &trans         &trans         &trans           &out OUT_USB  &trans          &kp LC(ENTER)  &to 2             &trans             &trans
            >;

            display-name = "ADVANCE";
            sensor-bindings = <&scroll_encoder>;
        };

        NUMPAD {
            bindings = <
&trans  &trans  &kp F2  &trans  &kp F4  &kp F9    &trans          &kp CARET              &kp AMPERSAND    &kp KP_SLASH     &kp KP_MULTIPLY  &kp KP_MINUS  &trans
&trans  &trans  &none   &none   &none   &trans    &trans          &kp DOLLAR             &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp EQUAL     &kp COLON
&trans  &none   &none   &none   &none   &none     &trans          &kp LEFT_PARENTHESIS   &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &kp DOUBLE_QUOTES
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &kp RIGHT_PARENTHESIS  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_ENTER  &kp AT_SIGN
&trans  &trans  &trans  &trans  &mo 0   &trans    &kp KP_NUMLOCK  &trans                 &trans           &kp KP_NUMBER_0  &to 0            &kp KP_DOT
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_DOWN) LC(PAGE_UP)>;
            label = "NUMPAD";
        };

        DEVICE {
            bindings = <
&out OUT_TOG  &bt BT_PRV       &bt BT_NXT       &bt BT_SEL 0     &bt BT_CLR       &bt BT_CLR_ALL     &mmv MOVE_UP     &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans           &trans           &trans           &trans           &trans             &mmv MOVE_DOWN   &trans  &trans  &trans  &trans  &trans  &sys_reset
&trans        &trans           &soft_off        &trans           &trans           &trans             &mmv MOVE_LEFT   &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans           &trans           &trans           &trans           &bootloader        &mmv MOVE_RIGHT  &trans  &trans  &trans  &trans  &trans  &soft_off
&trans        &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_TOG    &mkp LCLK        &trans  &trans  &to 0   &trans  &trans
            >;

            sensor-bindings = <&mouse_scroll_h>;
            label = "BT&LED";
        };

        XLS {
            bindings = <
&trans  &trans          &trans          &trans           &trans          &trans    &trans  &trans  &trans         &trans        &trans         &trans  &trans
&trans  &trans          &trans          &trans           &trans          &trans    &trans  &trans  &trans         &excel_index  &excel_offset  &trans  &trans
&trans  &excel_average  &excel_sum_tap  &excel_date_tap  &trans          &trans    &trans  &trans  &trans         &trans        &trans         &trans  &trans
&trans  &trans          &excel_xlookup  &excel_countifs  &excel_vlookup  &trans    &trans  &trans  &excel_xmatch  &trans        &trans         &trans  &trans
&trans  &trans          &trans          &trans           &trans          &trans    &trans  &trans  &trans         &trans        &trans         &trans
            >;

            label = "XLS";
            sensor-bindings = <&mouse_scroll_h>;
        };
    };
};
